table {
    margin-left:auto;
    margin-right:auto;
  }
  
  td, th{
    border: 1px solid #333;
    text-align: center;
    padding: 10px;
  }
  
  thead,
  tfoot {
      background-color: #333;
      color: #fff;
  }